*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
  }
.title-line{
    display: flex;
    width: 85%;
    margin: auto;
    padding: 1rem;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 40%;
    margin-right: 57%;
}
a{
    font-size: 1.2rem;
    text-decoration: none;
    color: #4f4f4f;
    transition: .288s ease;
    font-family: 'Scada', sans-serif;
}
a > .git-pic{
    float: right;
    padding: .5rem;
}
.message-container{
    display: flex;
    height: 98vh;
    background: linear-gradient(to left,rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.8)), url(./images/person-in-front-of-laptop-on-brown-wooden-table-2115217.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.sub-msg{
    color: white;
    font-family: 'Scada', sans-serif;
    font-size: 1.5rem;
    padding: 2rem 0rem;
    width: 74%;
}
.message{
    width: 85%;
    margin: auto;
}
h1{
    font-size: 4rem;
    color: white;
    font-family: 'Scada', sans-serif;
}
h4{
    color: #4f4f4f;
    font-family: 'Scada', sans-serif;
    font-size: 1.5rem;
    letter-spacing: .0005rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
h5{
    text-align: center;
    color: #4f4f4f;
    font-family: 'Scada', sans-serif;
    font-size: 2.25rem;
    width: 90%;
    margin: auto;
    margin-top: 3rem;
    margin-bottom: 0rem;
}
p{ 
    color: #4f4f4f;
    font-family: 'Scada', sans-serif;
    font-size: 1.5rem;
    letter-spacing: .0005rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.img-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: auto;
    margin-bottom: 2rem;
}
.item{
    padding: 2rem 2.5rem;
}
nav a:hover{
    color: hsl(0, 0%, 80%);
    font-size: 1.4rem;
}

/* website css */
.web-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: auto;
    padding-top: 4.5rem;
    border-top: .05rem solid #4f4f4f;
}
.web-item{
    margin: 2rem;
    width: 40%;
    height: 13rem;
    border-radius: .5rem;
    transition: .3s ease;
}

.web-item:hover{
    box-shadow: 0px 1px 20px 1px rgba(186, 186, 186, 0.639);
}
.resume-container{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4.5rem 0rem;
    border-top: .05rem solid #4f4f4f;
}
.resume{
    width: 11rem;
    background-color: rgb(80, 231, 156);
    border-radius: .5rem;
    padding-top: .4rem;
}
h3{
    font-family: 'Scada', sans-serif;
    width: 90%;
    margin: auto;
    color: #4f4f4f;
    text-align: center;
    font-size: 2.25rem;
    margin-bottom: 4.5rem;
}
.footer{
    margin-top: 4.5rem;
    color: white;
    font-size: .8rem;
    background-color: #4f4f4f;
    font-family: 'Scada', sans-serif;
    text-align: center;
    padding: .5rem 0rem;
}
.dropdown{
    display: none;
}
@media only screen and (min-width: 81em){
  .img-container{
      width: 1100px;
      margin: auto;
  }
  .message{
    width: 1100px;
    margin: auto;
  }
  .title-line{
    width: 1100px;
    margin: auto;
  }
  .resume-container{
    width: 1100px;
    margin: auto;
  }
  .web-container{
    width: 1100px;
    margin: auto;
  }
}
@media only screen and (max-width: 60em){
    nav{
        display: none;
    }
    .title-line{
        width: 85%;
        margin: auto;
        justify-content: space-between;
      }
     /* Dropdown Button */
.dropbtn {
    background-image: url(/images/hammy.svg);
    background-repeat: no-repeat;
    background-color:white;
    padding: 16px;
    border: none;
    cursor: pointer;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
    margin: auto;
    margin-left: 0px;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    margin-top: .94rem;
    display: none;
    position: absolute;
    background-color: white;
    margin-bottom: 2rem;
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: #4f4f4f;
    padding: 18px 30px;
    text-decoration: none;
    display: block;
  }
  .mob-res-link{
    border-bottom: .1px solid #4f4f4f;
  }
  .mob-web-link{
    border-top: .1px solid #4f4f4f;
  }
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}  
}
@media only screen and (max-width: 50em){
    .message{
        text-align: center;
    }

    .sub-msg{
        margin: auto;
        color: white;
        font-family: 'Scada', sans-serif;
        font-size: 1.5rem;        min-width: 95%;
        padding: 2rem 0rem;
    }
    .web-container{
        display: block;
        margin-bottom: 9.2rem;
    }
    .web-item{
        width:65%;
        margin: auto;
        margin-top: 4.5rem;
    }
}