*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.title-line{
    display: flex;
    width: 85%;
    margin: auto;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 40%;
    margin-right: 57%;
}
a{
    font-size: 1.2rem;
    text-decoration: none;
    color: #4f4f4f;
    transition: .288s ease;
    font-family: 'Scada', sans-serif;
}
a > .git-pic{
    float: right;
}
/* .github{
    position: absolute;
    margin-left: 3.5rem;
    background-image: url(./images/github.svg);
    width: 24px;
    height: 24px;
} */
.message-container{
    display: flex;
    height: 98vh;
    background: linear-gradient(to left,rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.8)), url(./images/person-in-front-of-laptop-on-brown-wooden-table-2115217.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.sub-msg{
    color: white;
    font-family: 'Scada', sans-serif;
    font-size: 1.5rem;
    padding: 2rem 0rem;
    width: 74%;
}
.message{
    width: 85%;
    margin: auto;
}
/* .macy{
    background-image: url(./images/person-in-front-of-laptop-on-brown-wooden-table-2115217.jpg);
}  */

h1{
    font-size: 4rem;
    color: white;
    font-family: 'Scada', sans-serif;
}
h4{
    color: #4f4f4f;
    font-family: 'Scada', sans-serif;
    font-size: 1.5rem;
    letter-spacing: .0005rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
h5{text-align: center;
    color: #4f4f4f;
    font-family: 'Scada', sans-serif;
    font-size: 2.2rem;
    letter-spacing: .0005rem;
    width: 85%;
    margin: auto;
    height: 100%;
    margin-top: 2rem;
}
p{ 
    color: #4f4f4f;
    font-family: 'Scada', sans-serif;
    font-size: 1.5rem;
    letter-spacing: .0005rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.img-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 85%;
    margin: auto;
    margin-bottom: 1.5rem;
}
.item{
    padding: 2rem 2.5rem;
}

nav a:hover{
    color: hsl(0, 0%, 80%);
    font-size: 1.4rem;
}

/* website css */
.web-container{
    display: flex;
    justify-content: space-evenly;
    height: 92vh;
    width: 90%;
    margin: auto;
}
.web-item{
    margin-top: 3rem;
    width: 25rem;
    height: 13rem;
    border-radius: .5rem;
    transition: .3s ease;
}

.web-item:hover{
    box-shadow: 0px 1px 20px 1px rgba(186, 186, 186, 0.639);
}
.resume-container{
    height: 39rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   /*  background-color: rgb(88, 77, 77); */

}
.resume{
    margin-bottom: 6.8rem;
    width: 11rem;
    background-color: rgb(80, 231, 156);
    border-radius: .5rem;
    padding-top: .4rem;
}
h3{
    color: #4f4f4f;
    font-size: 3.5rem;
}
.footer{
    color: white;
    font-size: .8rem;
    background-color: #4f4f4f;
    font-family: 'Scada', sans-serif;
    text-align: center;
    padding: .5rem 0rem;
}
@media only screen and (min-width: 81em){
  .img-container{
      width: 1100px;
      margin: auto;
  }
  .message{
    width: 1100px;
    margin: auto;
  }
  .title-line{
    width: 1100px;
    margin: auto;
  }
}
@media only screen and (max-width: 60em){
    nav{
        display: none;
    }
}
@media only screen and (max-width: 50em){
    .message{
        text-align: center;
    }
    .sub-msg{
        margin: auto;
    }
}

